.game-card {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
    transition: background-size .4s;
    border: 1px solid #eeeeee;
}

.game-card:hover {
    background-size: 150%;
}

.game-card-ribbon {
    position: absolute;
    color: white;
    font-weight: 700;
    background-color: #90c200;
    top: 0;
    right: 0;
    padding: 10px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.game-card-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.game-card-title {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.jackpot {
    color: white;
    background: #a01717;
    bottom: 0;
    width: 100%;
    position: absolute;
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 700;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.game-card:hover .game-card-overlay {
    opacity: 1;
}

.play-button {
    background-color: #90c200;
    color: white;
    font-weight: 600;
    font-size: 21px;
    padding: 10px;
    border-radius: 5px;
}
